<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myworld">

    <application
        android:allowBackup="true"
        android:icon="@drawable/world"
        android:label="MyWorld"
        android:roundIcon="@drawable/world"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AfricaActivity"></activity>

        <activity
            android:theme="@style/SplashTheme"
            android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLogin"/>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>